.my-footer{

    background-image: url('../../img/dog4.jpg');
    object-fit: contain;
    background-size: 85px;
    background-repeat: no-repeat;
    height: 80px;
    background-position: bottom;
    justify-content: flex-end

}