.home{
    max-width: 650px;
    margin: 0 auto;
    padding: 0.3rem 3rem 0;

    p{
        margin: 15px 0;
    }


    img{
        object-fit: contain;
        width: 61vh;
        margin: 15px 0 15px 15px;
    }
}